# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Node / Frontend
# ======================
node_modules/
.next/
dist/
out/

# ======================
# Python / Backend
# ======================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
backend/.env

# ======================
# Logs & Temp
# ======================
*.log
*.tmp

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
